
<!-- <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
        <div *ngIf="error">
            <div class="alert alert-danger">
                {{error}}

            </div>

        </div>
        <input class="form-control mt-3" type="text" formControlName="userName" >
        <div *ngIf="loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched" class="alert alert-danger mt-3">
            <div  *ngIf="loginForm.controls['userName'].errors?.['required']">
            وارد کردن نام کاربری الزامی است.
            </div>
          
        </div>
         
       
        <input class="form-control mt-3" type="password" formControlName="password" >
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="alert alert-danger mt-3">
            <div  *ngIf="loginForm.controls['password'].errors?.['required']">
            وارد کردن رمز عبور الزامی است.
            </div>
          
        </div>
        <button class="btn btn-secondary btn-block mt-3" type="submit" [disabled]="!loginForm.valid">login</button>

    </form>


    <a [routerLink]="['/auth/register']">اکانت کاربری ندارید؟ ثبت نام</a>

</div> -->

<div class="row b">
    
    <div class="container" >
        <div class="row login-container">
            <div class="col-lg-6 left-side "  >
                <div class="row  justify-content-center text-center" >
                    <div class="col-lg-10 " >
                        <p class="pt-6 primary">
                            ثبت نام
                        </p>
                        <p class="pt-8 primary">
                            حساب کاربری ندارید؟
                        </p>
                        <button class="btn  btn-custom1 mt-6">ایجاد حساب کاربری</button>
                    </div>
                </div>
            </div>
            

            <div class="col-lg-6 right-side">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-10">

                        <p class="pt-6"> ورود</p>
                        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)" class="pt-7">
                            <div *ngIf="error">
                                <div class="alert alert-danger">
                                    {{error}}
                    
                                </div>
                    
                            </div>
                            <input class="form-control mt-3" type="text" formControlName="userName" >
                            <div *ngIf="loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched" class="alert alert-danger mt-3">
                                <div  *ngIf="loginForm.controls['userName'].errors?.['required']">
                                وارد کردن نام کاربری الزامی است.
                                </div>
                              
                            </div>
                             
                           
                            <input class="form-control mt-3" type="password" formControlName="password" >
                            <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="alert alert-danger mt-3">
                                <div  *ngIf="loginForm.controls['password'].errors?.['required']">
                                وارد کردن رمز عبور الزامی است.
                                </div>
                              
                            </div>
                            <button class="btn btn-custom btn-block mt-3 " type="submit" [disabled]="!loginForm.valid">login</button>
                    
                        </form>
                    </div>

                </div>

                
            </div>
         
        </div>
    </div>
</div>