<app-header (searchTextChanged)="search($event)" [logged_in_username]="logged_in_username"></app-header>
<!-- {{user_posts.userName}} -->
<div class="container-fluid">
  <div class="col-lg-12 " style="padding: 25px 25px;" *ngIf="showSuccessMessage">
    <div class="alert alert-success alert-dismissible">
      پست با موفقیت اضافه شد.

    </div>
</div>
<div class="row ">
    <div class="col-lg-3 custom-border">
      <div class="profile-content " (mouseenter)="onProfileHover()" (mouseleave)="onprifileonHover()">
        <div class="card card-blog">
            <div class="card-image">
                <a href="#"> <img class="img" [src]="User.userProfile!=null ? User.userProfile:'../../../assets/images/profile.jpg'" style="height: 200px;">
                    <div class="card-caption"> <p style="margin-bottom: 0;">{{User.firstName}}&nbsp; {{User.lastName}}</p></div>
                   
                </a>
                <div class="ripple-cont"></div>
            </div>
            <div class="table mt-3">
                <h6 class="category text-info" > لایک ها:{{likes}} </h6>
                <p class="card-description">  پست ها: {{User.posts}} </p>
            </div>
        </div>

        <div class="post-btn-container d-flex" *ngIf="isProfileHover && user_posts.userName===logged_in_username_user">
          <div class="col-lg-6 text-center" >
            <button type="button" class="btn post-btn " (click)="showAddPost()">
              <a  class="m-r-15 text-inverse-lighter" style="text-decoration: none;" >
                <i class="fa fa-plus fa-fw fa-lg m-r-3"   >
    
                </i>
              </a> 
            </button>
          </div>
          <div class="col-lg-6 text-center">
            <button type="button" class="btn post-btn"  ><!--(click)="openModal(user_posts,template)"-->
              <a  class="m-r-15 text-inverse-lighter" style="text-decoration: none;">
                <i class="fa fa-edit fa-fw fa-lg m-r-3" >
    
                </i>
              </a> 
            </button>
          </div>
          <ng-template #template >
            <!-- Modal Header -->
           
            <div class="modal-header">
              <h4 class="modal-title">تغییرات کاربر</h4>
              <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <div class="row " >
                <div class="col-lg-3 comment " style=" width: inherit;">
                  <span class="userimage" ><img [src]="user_posts.userProfile!=null ? user_posts.userProfile:'../../../assets/images/profile.jpg'"   class="rounded comment-profile"  alt="" height="200px"></span>
                </div>
                <div class="col-lg-9" >
                  <form (ngSubmit)="onSubmit(f.value,user_posts.userName)"  #f="ngForm">

                    <div class="row mt-3" >
                      <div class="col-lg-11 bg-light" style="border-radius: 20px; padding:10px 10px" >
                        <div class="row">

                          <div class="col-lg-6">
                            <label class="text-secondary">نام:</label>
                            <input  type="text" id="firstName" class="form-control"  [ngModel]="user_posts.firstName"  name="firstName">
  
                          </div>
                          <div class="col-lg-6">
  
                            <label class="text-secondary">نام خانوادگی:</label>
                            <input  type="text" id="lastName" class="form-control"  [ngModel]="user_posts.lastName"  name="lastName">
                          </div>
                        </div>


                        <!-- <label class="mt-2 text-secondary">نام کاربری</label>
                        <input  type="text" id="userName" class="form-control"  [ngModel]="user_posts.userName"  name="userName">
                         -->
                        <button type="submit" class="btn btn-success btn-block mt-3"  >ثبت</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            
            </div>

            
          </ng-template>

        </div>
        
      </div>

    </div>
    <div class="col-lg-6 custom-border-right">   
      <div class=" post-add-container mt-3">
        <div  *ngIf="username[0]===logged_in_username_user">
          <button type="button" class="btn post-add-bottom" (click)="showAddPost()" >+</button>
        </div>

        <div id="addpost" *ngIf="showPostAddDiv" class="mt-3 postadd-container" style="position: relative;">

          <div class="spinner-container spinn" *ngIf="isLoading">
            <div class="d-flex justify-content-center ">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>



          <div class="row mb-3 border-bottom">
            <div class="col-1" >
              <img class="userimage rounded-circle postadd-image" style="width: 50px; height:50px;" [src]="User.userProfile!=null ? User.userProfile:'../../../assets/images/profile.jpg'" alt="">
              <!-- <a href="#"> <img class="img " src={{user_posts.userProfile}} style="height: 300px;"></a> -->
            </div>

            <div class="col-11" style="padding: 20px;" >{{User.firstName}}&nbsp;{{User.lastName}}</div>
          </div>

          <div class="">
            <form [formGroup]="postaddForm"  (ngSubmit)="onClickSubmit(postaddForm.value)" novalidate> 
              <input class="form-control mb-2" required type="text"  formControlName="username" hidden/>
              <div class="row">
                <div class="col">
                  <textarea class="form-control mb-2" type="url" placeholder="لینک" id="link" #link formControlName="link" (change)="onPreview(link.value)" ></textarea>
                  <div *ngIf="postaddForm.controls['link'].invalid && postaddForm.controls['link'].touched" class="text-danger ">
                    <div  *ngIf="postaddForm.controls['link'].errors?.['required']" class="text-left mb-2 ">
                      <small >
                        وارد کردن لینک الزامی است.

                      </small>
                  </div>
                  
                  </div>
                 
                  <div *ngIf="postaddForm.controls['link'].errors?.['pattern']" class="text-danger text-left mb-2">
                    <small class="mb-2">

                      در این فیلد فقط میتوانید لینک وارد کنید.
                    </small>
                  </div>
                </div>
              </div>
              <div class="row">

                
                <div class="col-lg-9">
                  <input class="form-control mb-2" required type="text" placeholder="عنوان" formControlName="title"  onkeydown="return (event.keyCode!=13);"  [(ngModel)]="preview.title" [readonly]="diss" ><!--[readonly]="dis"-->
                  
                  <div class="custom-file mb-2">
                    <!-- <input type="text" class="custom-file-input" id="exampleInputFile" formControlName="image"  [(ngModel)]="preview" > -->

                  <input class="form-control mb-2" required type="text" placeholder="تصویر" formControlName="image"  onkeydown="return (event.keyCode!=13);"  [(ngModel)]="preview.image" [readonly]="dis" >

                    <!-- (change)="onFileChanged($event)" -->
                    <!-- <label class="custom-file-label text-left" for="exampleInputFile" data-browse="تصویر"></label> -->
                  </div>
                </div>
                
                <div class="col-lg-3 " style="text-align: center; padding-right: 0;" >
                  <div class="border" style="border-radius: 5px;">

                    <span class="close " (click)="deleteImage()">&times;</span>
  
                    <img  height="85px" width="100" [src]="preview.image">
                  </div>
                </div>
              </div>
                <!-- <input class="filestyle mb-2"  type="file" id="formFile" formControlName="image"/> -->
              
              
              <textarea class="form-control mb-2"  type="text" placeholder="توضیحات" formControlName="discription" [(ngModel)]="preview.description" [readonly]="diss"></textarea><!--[readonly]="dis"-->
              <div class="row" style="padding: 0 15px">
                
                  <div class="tags btn" *ngFor="let tag of all_tags;let i=index">
                    <p *ngIf="tag">{{'#'+tag}}<i class="fa fa-close fa-fw fa-lg m-r-3" (click)="onRemoveTag(i)"></i></p>
                  </div>

               

              </div>
              
              <div class="row">
                <div class="col-lg-9">
                  <input class="form-control mb-2"  type="text" placeholder="برچسب" #tags  formControlName="tags" onkeydown="return (event.keyCode!=13);"/>
                </div>
                <div class="col-lg-3">
                  <button type="button" class="btn sorts-box btn-block tag-add" (click)="addTag(tags.value)">+</button>
                </div>
              </div>
  
              <div class="row mt-3">
                <div class="col">
                  <button type="button" class="btn btn-block btn-danger" data-dismiss="modal" style="border-radius: 10px;" (click)="showAddPost()">بستن</button>
                </div>
                <div class="col">
                  <button  type="submit" class="btn btn-block btn-success post-add" style="border-radius: 10px;" (click)="addedPostMessage() " [disabled]="!postaddForm.valid" disabled >ثبت</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>     

      <app-posts [username]="username" [typeOfEvent]="typeOfEvent"  [posts]="posts" [logged_in_username]="logged_in_username" [didnMatchSearchValue]="didnMatchSearchValue"></app-posts>

          <!-- Modal -->
          <!-- <div #childModal class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 600px;">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">اضافه کردن پست جدید</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                <form [formGroup]="formGroup"  (ngSubmit)="onClickSubmit(formGroup.value)">
                  <input class="form-control mb-2" required type="text"  formControlName="username" />
                  <input class="form-control mb-2" required type="text" placeholder="لینک" formControlName="link"/>
                  <input class="form-control mb-2"  type="text" placeholder="کپشن" formControlName="caption"/>
                  <input class="form-control mb-2"  type="text" placeholder="توضیحات" formControlName="discription"/>
                  <input class="form-control mb-2"  type="text" placeholder="برچسب" formControlName="tags"/>
                  <input class="form-control mb-2"  type="text" placeholder="تصویر" formControlName="image"/>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button  type="submit" class="btn btn-primary" >Save changes</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div> -->
    </div>

    <div class="col-lg-3" style="padding-right: 0;">

      <app-sort (newestpost)="allert($event)" [mode]="'user'"></app-sort>

      <!-- <mat-form-field appearance="outline">
        <mat-label>Enter here your text here with few links to preview ;)</mat-label>
          <textarea matInput matTextareaAutosize matLinkPreview minRows="6"></textarea>
        <mat-link-preview-container [multiple]="true"></mat-link-preview-container>
      </mat-form-field> -->
      

    </div>

</div>


<router-outlet></router-outlet>


    
        
                
                    
                    
                
           

    

