<footer id="footer" dir="rtl">

    <!-- <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3></h3>
            <p style="justify-content: center;">
                <br>
    
              <strong>ایمیل:</strong> <br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
         
            <ul>
              <li><i class="bx bx-chevron-left"></i> <a href="#">صفحه اصلی</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="accounts/login">پنل کاربری</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#portfolio">تعرفه ها</a></li>
     
              <li><i class="bx bx-chevron-left"></i> <a href="#contact">ارتباط با ما</a></li>
            </ul>
          </div>

  
      

        </div>
      </div>
    </div> -->

    <div class="container py-4">

      <div class="me-md-auto text-center text-md-end"  >
        <div class="copyright">
           کپی رایت &copy;
        </div>
        <div class="credits">
    
          طراحی شده توسط <a href="#">لینک</a>
        </div>
      </div>
   
    </div>
  </footer><!-- End Footer -->