

<app-header (searchTextChanged)="search($event)" [logged_in_username]="logged_in_username" (login)="onclickedLogin(template)"></app-header>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">ایجاد حساب کاربری</h4>
        <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
    </div>

    <app-register (logged_in_username)="onchangelogint($event)"></app-register>
</ng-template>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3" style="padding: 0;">
            <!-- <div class="left-filter-container">
                <div class="filter-content " >
                    <div class="text-center">
                        <p class="border-bottom p-2">
                         لینک های پر طرفدار
                        </p>
                  
                      </div>
    
                    <div class="container" >
    
                        <div class="row link-container" *ngFor="let most_pupular_link of most_pupular_links" >
                            
                            <div class="col-lg-3" style="padding: 10px;">
                                <div class="img-text-container"  >
                                    <a href={{most_pupular_link.link}}  class=" post-image"><img class="rounded" src={{most_pupular_link.image}} height="50px" width="50px">
                                    </a>
                                    <div class="text-center bg-text inner">
                                        <a href={{most_pupular_link.link}} style="font-size: 25px;" class="material-icons link-style" >link</a>    
                                    </div> 
                                </div>
                            </div>
                            <div class="col-lg-9 ">
                                <h1 style="font-size: 1rem; margin-top: 15px; margin-bottom: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; direction: ltr;"> {{most_pupular_link.title}} </h1>
                              <p class="link-style2 text-right" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; direction: ltr;"><a >{{most_pupular_link.link}}</a></p>
                            </div>
                          
                            
                        </div>
                    </div>
                    
                </div>
    
            </div> -->
        </div>
        <div class="col-lg-6"  style="padding: 0;">
            <app-sort (newestpost)="allert($event)" [mode]="'home'"></app-sort>
            <app-posts [username]="username" [typeOfEvent]="typeOfEvent" [searchValue]="searchValue" [posts]="posts" [logged_in_username]="logged_in_username"></app-posts>
        </div>
        <div class="col-lg-3"  style="padding: 0;">
            <!-- <div class="left-filter-container">
                <div class="filter-content " >
                    <div class="text-center">
                        <p class="border-bottom p-2">
                         کاربران فعال
                        </p>
                  
                      </div>
                    <div class="container">
    
                        <div class="row mt-2 member-container"  style="display: flex; justify-content:center" *ngFor="let active_profile of active_profiles">
                            
                            <div class="col-lg-6 text-center" >
                              <span class="username" ><a [routerLink]="['personalpage',active_profile.userName]">{{active_profile.firstName}}&nbsp;{{active_profile.lastName}}</a> <small></small></span>
                            </div>
                            <div class="col-lg-2 timeline-header">
        
                                <div class="userimage"  ><img [src]="active_profile.userProfile!=null ? active_profile.userProfile:'../../../assets/images/profile.jpg'" alt=""></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
    
            </div> -->
        </div>
        <div style="clear: Both;"></div>
    </div>
    
    
</div>

<app-footer></app-footer>
