

<app-header (searchTextChanged)="search($event)" [logged_in_username]="logged_in_username" [logged_in_firstName]="logged_in_firstName"></app-header>
<div class="container-fluid d-flex">
    <div class="row">

        <div class="col-lg-3" style="padding: 0;">
            <div class="left-filter-container">
                <div class="filter-content " >
                    <div class="text-center">
                        <p class="border-bottom p-2">
                         لینک های پر طرفدار
                        </p>
                  
                      </div>
    
                    <div class="container" >
    
                        <div class="row link-container" *ngFor="let post of posts" >
                            
                            <div class="col-lg-3" style="padding: 10px;">
                                <div class="img-text-container"  >
                                    <a href={{post.link}}  class=" post-image"><img class="rounded" src={{post.image}} height="50px" width="50px">
                                    </a>
                                    <div class="text-center bg-text inner">
                                    <h1 style="font-size: 0.75rem;"> {{post.title}} </h1>
                                      <a href={{post.link}} style="font-size: 25px;" class="material-icons link-style" >link</a>    
                                </div> 
                              </div>
                            </div>
                            <div class="col-lg-9 ">
                              <p class="link-style2 text-right" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; direction: ltr;"><a >{{post.link}}</a></p>
                            </div>
                          
                            
                        </div>
                    </div>
                    
                </div>
    
            </div>
        </div>
        <div class="col-lg-6"  style="padding: 0;">
            <app-sort (newestpost)="allert($event)" [mode]="'home'"></app-sort>
            <app-posts [username]="username" [typeOfEvent]="typeOfEvent" [searchValue]="searchValue" [posts]="posts" [logged_in_username]="logged_in_username"></app-posts>
        </div>
        <div class="col-lg-3"  style="padding: 0;">
            <div class="left-filter-container">
                <div class="filter-content " >
                    <div class="text-center">
                        <p class="border-bottom p-2">
                         کاربران فعال
                        </p>
                  
                      </div>
                    <div class="container">
    
                        <div class="row mt-2 member-container" *ngFor="let post of posts">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-6 text-center">
                              <span class="username" ><a [routerLink]="['personalpage',post.userName]">{{post.firstName}}&nbsp;{{post.lastName}}</a> <small></small></span>
                            </div>
                            <div class="col-lg-4 timeline-header">
        
                                <div class="userimage"  ><img src={{post.userProfile}} alt=""></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
    
            </div>
        </div>
        <div style="clear: Both;"></div>
    </div>
    
    
</div>

<app-footer></app-footer>
