
<!-- 

<div class="container">
    <div *ngFor="let post of posts">

        <section class="mx-auto my-5" style="max-width: 50rem;">
      
          <div class="card">
            
            <div class="card-body d-flex flex-row border-bottom">
                <div class="col-sm-6  align-self-center">
                    <a [routerLink]="['personalpage',post.userName]">
                        <h5 class="font-weight-bold">{{post.userName}}</h5>
                    </a>
                </div>

                <div class="col-sm-6 ">
                    <img src={{post.user_images}} class="rounded-circle me-3 align-self-left" height="50px"
                      width="50px" alt="avatar" />
                </div>
            </div>
            
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-4">
    
                        <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                            <img class="img-fluid" src={{post.image}}
                              alt="Card image cap" />
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                          </div>
                    </div>
    
                    <div class="col-lg-8">
                        <div class="col-md-12 div2">

                            <p>{{post.caption}}</p>
                        </div>

                        <div class="col-md-12 div2">

                            <p class="card-text collapse" id="collapseContent">
                                {{post.discription}}.
                            </p>
                            <a  class="btn btn-secondary btn-block" href="{{post.link}}">لینک</a>
                            
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>


                <span>
                    <a class="btn btn-link link-danger p-md-1 my-1" data-mdb-toggle="collapse" href="#collapseContent"
                    role="button" aria-expanded="false" aria-controls="collapseContent">more</a>
                </span>

              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa fa-share text-muted p-md-1 my-1 me-2" data-mdb-toggle="tooltip"
                    data-mdb-placement="top" title="Share this post"></i>

                    <i class="fa fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="I like it"></i>
                    <span>{{post.vote}}</span>
                    
                </div>
                <div>
                    <p class="card-text"><i class="far fa-clock pe-2"></i>{{post.shared_date| date:'shortDate' }}</p>
                  </div>
              </div>
            </div>
          </div>
          
        </section>
    </div>

  </div> -->


  

<div class="container">

    <div class="profile-content" >
   <!-- begin tab-content -->
   <div class="tab-content p-0">
      <!-- begin #profile-post tab -->
      <div class="tab-pane fade active show" id="profile-post">
         <!-- begin timeline -->
         <ul class="timeline">
            <li *ngFor="let post of posts">
               <!-- begin timeline-time -->
               <div class="timeline-time">
                  <span class="date">{{post.shared_date| dateAsAgo }}</span>
                  <!-- <span class="time">04:20</span> -->
               </div>
               <!-- end timeline-time -->
               <!-- begin timeline-icon -->
               <div class="timeline-icon">
                  <a href="javascript:;">&nbsp;</a>
               </div>
               <!-- end timeline-icon -->
               <!-- begin timeline-body -->
               <div class="timeline-body">
                  <div class="timeline-header" >
                     <span class="userimage"><img src={{post.user_images}} alt=""></span>
                     <span class="username" ><a [routerLink]="['personalpage',post.userName]">{{post.userName}}</a> <small></small></span>
                     <!-- <span class="pull-right text-muted">18 Views</span> -->
                  </div>
               

                  <div class="timeline-content">
                    <p>

                      {{post.link}}
                    </p>
                     <p>
                      {{post.caption}}
                     </p>

                     <div class="col-md-12 div2">

                      <p class="card-text collapse" id="collapseContent">
                          {{post.discription}}.
                      </p>
                      <!-- <a  class="btn btn-secondary btn-block" href="{{post.link}}">لینک</a> -->
                      
                      </div>

                      <span *ngFor="let tag of post.tags">
                        {{'#'+tag}}

                      </span>
                  </div>
                  
                  <div class="d-flex timeline-footer justify-content-between">
                    <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i>{{post.shared}}</a>
                    <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i>{{post.comments}}</a> 
                    <a href="javascript:;" class="m-r-15 text-inverse-lighter">{{post.vote}}<i class="fa fa-heart fa-fw fa-lg m-r-3"></i></a>
                  </div>
                  <div class="timeline-comment-box">
                     <div class="input">
                        <form action="">
                           <div class="input-group">
                              <input type="text" class="form-control rounded-corner" placeholder="نظر خود را بنویسید...">
                              <span class="input-group-btn p-l-10">
                              <button class="btn btn-primary f-s-12 rounded-corner" type="button">ارسال نظر</button>
                              </span>
                           </div>
                        </form>
                     </div>
                     <!-- <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div> -->

                  </div>
               </div>
               <!-- end timeline-body -->
            </li>
            
         </ul>
         <!-- end timeline -->
      </div>
      <!-- end #profile-post tab -->
   </div>
   <!-- end tab-content -->
</div>

  
</div>




 

