  
<!-- <p (click)="show()">salam</p> -->
<div style="padding: 25px 25px; margin-right: 10%;" *ngIf="didnMatchSearchValue">
  <div class="alert alert-success alert-dismissible">
    نتیجه یافت نشد.

  </div>
</div>
<div class="profile-content " >
   <!-- begin tab-content -->
   <div class="tab-content p-0">
    <!-- begin #profile-post tab -->
    <div class="tab-pane fade active show" id="profile-post">
      <!-- begin timeline -->
      <div *ngIf="username; else other_content" >
        <div class="timeline-user ">
          <div *ngFor="let post of posts;let i =index" >
            <div *ngFor="let user of username">
              <div *ngIf="post.userName===user">
                <div *ngIf="!editing[post.id];else edited_mode">

                 
                  <!-- begin timeline-body -->
                  <div class="timeline-body "><!---->
                    <!-- <button class="btn delete-item" (click)="onDeletePost(i)" *ngIf="post.userName===logged_in_username && isHover"><i class="fa fa-close fa-fw fa-lg m-r-3" ></i></button> 
                    <button class="btn edit-item" (click)="onEditPostClicked(i)" *ngIf="post.userName===logged_in_username && isHover" ><i class="fa fa-edit fa-fw fa-lg m-r-3" ></i></button> -->
                    <div class="timeline-header" >
                      <div class="row " >
                        <div class="col-lg-3">
                          <span class="date" style="font-size: 12px;">{{post.sharedDate| dateAsAgo }}</span>

                        </div>
                         <!-- <div class="col-6 ">
                           <span class="userimage"><img src={{post.userProfile}} alt=""></span>
                           <span class="username" ><a [routerLink]="['personalpage',post.userName]">{{post.firstName}}&nbsp;{{post.lastName}}</a> <small></small></span>
                         </div> -->
        
                        <!-- <span class="pull-right text-muted">18 Views</span> -->
                        <div class="col-lg-9 text-right "  *ngIf="post.userName===logged_in_username && editmode" >
                         <a  class="m-r-15 text-inverse-lighter dropdown" style="color: black;"><i class=" fa fa-fw fa-lg material-icons dropdown-toggle" data-toggle="dropdown">more_vert</i>
                           <div class="dropdown-menu">
                             <a class="dropdown-item delete-item-dropdown" (click)="onDeletePost(i)">حذف پست</a>
                             <a class="dropdown-item edit-item-dropdown" (click)="onEditPostClicked(i)">ویرایش پست</a>
                           </div>
                         </a>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-content">

                      <div class="col-12 mt-3" >
                        <div class="row post-user-header">

                          <div class="col-lg-8 ">
                            <h1 style="font-size: 1rem; margin-top: 10px;"> {{post.title}} </h1>
                            <p class="link-style2 text-right" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; direction: ltr;"><a >{{post.link}}</a></p>
                          </div>
                          <div class="col-lg-4" style="padding: 0;">
                            <div class="img-text-container"  >
                              <a href={{post.link}}  class=" post-image"><img class="rounded" src={{post.image}} height="100px" width="650px">
                              </a>
                              <div class="text-center bg-text inner">
                                <a href={{post.link}} style="font-size: 30px;" class="material-icons link-style" >link</a>    
                              </div> 
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-lg-12 content-box" style="padding-right: 0;" *ngIf="post.caption;else notfoundcaption">
                            
                            <p>
                              
                              {{post.caption}}&nbsp;&nbsp;
                              <span *ngIf="post.discription">
                                <span class="more" (click)="onMoreClicked(i)">بیشتر</span>
                                <div *ngIf="isMore[post.id]">
                                  {{post.discription+'.'}}
                                </div>
                                
                              </span>
                            </p>
                            
                          </div>

                          <ng-template  #notfoundcaption>
                            <div class="col-lg-12 content-box" style="padding-right: 0;">

                              <p>
                                
                                {{post.discription}}&nbsp;&nbsp;
                                
                              </p>
                            </div>

                          </ng-template>

                        </div>
                        
                        <div style="margin-top: 15px;" >
                            <span class="tags btn "  *ngFor="let tag of post.tags" (click)="tag_search(tag)">
                              {{'#'+tag}}
                            </span>
                        </div>
                        
                      </div>
                    </div>


          

                    <div class="d-flex timeline-footer justify-content-between">
                      <!-- <span class="date">{{post.sharedDate | date:'h:mm' }}</span> -->
                      <!-- <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i>{{post.shared}}</a> -->
                      <a  class="m-r-15 text-inverse-lighter" style="text-decoration: none;"><i class="fa fa-comments fa-fw fa-lg m-r-3" (click)="showComments(post.comments,template)"></i>{{post.comments.length}}</a> 
                      
                      
                      
                      
                      
                      <a  class="m-r-15 text-inverse-lighter"  style="text-decoration: none;">{{post.vote}}<i *ngIf="liked[post.id]" class="fa fa-heart fa-fw fa-lg m-r-3" (click)="onDissLiked(post.id)"></i><i  *ngIf="!liked[post.id]" class=" fa fa-fw fa-lg material-icons" (click)="onLiked(post.id)">favorite_border</i></a>
                    </div>

                    <div class="timeline-comment-box" style="border-radius: 20px" *ngIf="post.userName!==logged_in_username">
                      <div class="input">
                        <form action="" >
                          <div class="input-group">
                            <div class="custom-search-user">
                              <form (ngSubmit)="onSubmit(post.id,f)" #f="ngForm">
                                <input type="text" ngModel name="comment" class="custom-search-input" placeholder="">
                                <button class="custom-search-botton" type="submit">ارسال نظر</button>  
                              </form>
                            </div> 
                          </div>
                        </form>
                      </div>
                    </div>
                    <ng-template #template >
                      <!-- Modal Header -->
                     
                      <div class="modal-header">
                        <h4 class="modal-title">نظرات</h4>
                        <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
                      </div>
                      
                      <!-- Modal body -->
                      <div class="modal-body">
                        <div class="row " *ngFor="let comment of post_comments;let commentindex=index" >
                          <div class="col-lg-1 comment" style="margin-top: 10px;">
                      
                            
                            <span class="userimage" ><img src={{comment.userProfile}} class="rounded-circle comment-profile"  alt=""></span>
                          </div>
                          <div class="col-lg-10" style="border-bottom: 1px solid #e2e7ec;">
                            <div class="row mt-3">
                              <div class="col-lg-11 ">
                                <span class="username" ><a [routerLink]="['/personalpage',comment.userName]" (click)="modalRef.hide()">{{comment.firstName}}&nbsp;{{comment.lastName}}</a> <small></small></span>
                                <p class="comment-text">{{comment.comment}}</p>
        
                              </div>
                              <div class="col-lg-1" style="padding-right:0 ;" *ngIf="post.userName===logged_in_username">
                                <i  class="fa fa-trash fa-fw fa-lg m-r-3 text-secondary" (click)="onDeleteCommentClicked(commentindex)"></i>
        
        
                              </div>
                              
        
                            </div>
                            <div class="row mb-3">
                              <div class="col-lg-6">{{comment.commentDate |dateAsAgo}}</div>
                              <div class="col-lg-6 text-right">
                                <a  class="m-r-15 text-inverse-lighter"  style="text-decoration: none;">{{comment.likes}}<i *ngIf="commentliked[commentindex]" class="fa fa-heart fa-fw fa-lg m-r-3" (click)="onCommentDissLiked(commentindex,post.comments,comment.commentId)"></i><i  *ngIf="!commentliked[commentindex]" class=" fa fa-fw fa-lg material-icons" (click)="onCommentLiked(commentindex,post.comments,comment.commentId)">favorite_border</i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                      </div>

                      
                    </ng-template>
                   
                    
                  </div>
                  
                  

                  
                    <!-- <div class="col-lg-8">
                      <span class="userimage"><img src={{post.userProfile}} alt=""></span>
                      <span class="username" ><a [routerLink]="['personalpage',post.userName]">{{post.firstName}}&nbsp;{{post.lastName}}</a> <small></small></span>
                    </div> -->
      
                        
                      
                    
                    
                
                  <!-- end timeline-body -->
                </div>
                <ng-template #edited_mode>
                 
                  <div class="timeline-body">
                    <!-- <div class="timeline-header" >
                      <div class="row"> 
                        <div class="col-lg-8">
                          <span class="userimage"><img src={{post.userProfile}} alt=""></span>
                          <span class="username" ><a [routerLink]="['personalpage',post.userName]">{{post.firstName}}&nbsp;{{post.lastName}}</a> <small></small></span>
                        </div>
    
                        <div class="col-lg-2"  *ngIf="post.userName===logged_in_username">
                          <button class="btn delete-item" (click)="onDeletePost(i)">حذف پست</button>
                          
                        </div>
                        <div class="col-lg-2" style="padding-right: 0;"  *ngIf="post.userName===logged_in_username">
                          <button class="btn edit-item" (click)="onEditPostClicked(i)" >ویرایش پست</button>
                        </div>
                      </div>
                      
                    </div> -->
                  
                    <form class="mt-3" [formGroup]="editFormGroup"  (ngSubmit)="onClickSubmit(editFormGroup.value,i)">
                      <div class="timeline-content">
                        <div class=" mb-3" >
                          <div class="row">

                            
                            <div class="col-lg-3" style="text-align: center; padding-left: 0;" >
                              <img [src]="selected_post_image" height="85px" width="100px" style="display: inline;">
                            </div>
                            <div class="col-lg-9">
                              <input class="form-control mb-2 text-left" required type="text" placeholder="عنوان" formControlName="title" >
                              <input class="form-control mb-2 text-right" required type="text" placeholder="لینک" formControlName="link" >
                            </div>
              
                          </div>

                            <!-- <a   style="text-decoration:underline; color:#007bff; font-size: 15px;">{{post.link}}</a> -->
                          
                        </div>
      
                        <p>
                          <textarea class="form-control mb-2" required type="text" placeholder="متن" formControlName="caption" ></textarea>
                          <span *ngIf="post.discription">
      
                            <span class="more" (click)="onMoreClicked(i)">بیشتر</span>
                            <p *ngIf="isMore[post.id]">
                              <textarea class="form-control mb-2" required type="text" placeholder="توضیحات" formControlName="discription" ></textarea>
                            </p>
                            <p *ngIf="!isMore[post.id]"></p>
                          </span>
                        </p>
                      </div>
        
                      <div class="" >     
                        <div class="tags btn" *ngFor="let tag of all_tags;let i=index">
                          <p *ngIf="tag" style="margin-bottom:0px;">{{'#'+tag}}<i class="fa fa-close fa-fw fa-lg m-r-3"  (click)="onRemoveTag(i)"></i></p>
                        </div>                              
                      </div>

                      <div class="row mt-4">
                        <div class="col"> 
                          <button  type="submit" class="btn btn-block btn-success" style="border-radius: 10px;" >ثبت</button>
                        </div>
                      </div>
                    </form>  
                  </div>
                  <!-- end timeline-body -->
                </ng-template>
              </div>
            </div>
          </div>
                
        </div>
      </div>
      <ng-template #other_content>
        <ul class="timeline">
          <li *ngFor="let post of posts;let i=index">
            <!-- begin timeline-time -->
            <div class="timeline-time">
               <span class="date">{{post.sharedDate| dateAsAgo }}</span>
               <!-- <span class="time">04:20</span> -->
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
               <a href="javascript:;">&nbsp;</a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
              <div class="timeline-header" >
                <div class="row " >
                   <div class="col-6 ">
                     <span class="userimage"><img src={{post.userProfile}} alt=""></span>
                     <span class="username" ><a [routerLink]="['personalpage',post.userName]">{{post.firstName}}&nbsp;{{post.lastName}}</a> <small></small></span>
                   </div>
  
                  <!-- <span class="pull-right text-muted">18 Views</span> -->
                  <div class="col-6 text-right " *ngIf="post.userName===logged_in_username" >
                    
                   <a  class="m-r-15 text-inverse-lighter dropdown" style="color: black;"><i class=" fa fa-fw fa-lg material-icons dropdown-toggle" data-toggle="dropdown">more_vert</i>
                     <div class="dropdown-menu">
                       <a class="dropdown-item delete-item-dropdown" (click)="onDeletePost(i)">حذف پست</a>
                     </div>
                   </a>
                  </div>
                </div>
              </div>
            
              <div class="timeline-content mb-3" >
            
                <div class="col-12" > 
                  <div class="img-text-container">
                     <a href={{post.link}}  class=" post-image"><img class="rounded" src={{post.image}} height="200px" width="650px">
                     
                     </a>
                     <div class="text-center bg-text inner">
                           <h1 style="font-size: 1.5rem;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;"> {{post.title}} </h1>
                           <a href={{post.link}}  class="material-icons link-style" >link</a>    
                     </div> 
                  </div>
                </div>
                
                <!-- <div class="text-right mb-3">
  
                  <a   style="text-decoration:underline; color:#007bff; font-size: 15px;">{{post.link}}</a>
                </div> -->
                <div class="col-12 mt-3">
                  <p class="link-style2 text-right" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; direction: ltr;"><a >{{post.link}}</a></p>

                 
                  <p  *ngIf="post.caption;else notfoundcaption">
                    
                    {{post.caption}}&nbsp;&nbsp;
                    <span *ngIf="post.discription">
                      <span class="more" (click)="onMoreClicked(i)">بیشتر</span>
                      <div *ngIf="isMore[post.id]">
                        {{post.discription+'.'}}
                      </div>
                      
                    </span>
                  </p>
                    
                  

                  <ng-template  #notfoundcaption>
                    

                      <p>
                        
                        {{post.discription}}&nbsp;&nbsp;
                        
                      </p>
                 

                  </ng-template>

                
                  
                  <!-- <p>
                    {{post.caption}}&nbsp;&nbsp;
                    <span *ngIf="post.discription">
    
                      <span class="more" (click)="onMoreClicked(i)">بیشتر</span>
        
                      <p *ngIf="isMore[post.id]" style="text-align: justify;">
                         {{post.discription+'.'}}
          
                      </p>
                      <p *ngIf="!isMore[post.id]"></p>
                    </span>
                  </p> -->
                </div>    
              </div>
    
              <div class="" >
                   <span class="tags btn "  *ngFor="let tag of post.tags" (click)="tag_search(tag)">
                     {{'#'+tag}}
                   </span>
              </div>

              <div class="d-flex timeline-footer justify-content-between">
                <!-- <span class="date">{{post.sharedDate | date:'h:mm' }}</span> -->
                <!-- <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i>{{post.shared}}</a> -->
                <a  class="m-r-15 text-inverse-lighter" style="text-decoration: none;"><i class="fa fa-comments fa-fw fa-lg m-r-3" (click)="showComments(post.comments,template)" ></i>{{post.comments.length}}</a> 
                <ng-template #template>

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">نظرات</h4>
                    <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row " *ngFor="let comment of post_comments;let commentindex=index" >
                      <div class="col-lg-1 comment"  style="margin-top: 10px;" >
              
                        <span class="userimage"><img src={{comment.userProfile}} class="rounded-circle comment-profile"  alt=""></span>
                        
                      </div>
                      <div class="col-lg-10" style="border-bottom: 1px solid #e2e7ec;">
                        <div class="row mt-3">
                          <div class="col-lg-11 ">
                            <span class="username" ><a [routerLink]="['/personalpage',comment.userName]" (click)="modalRef.hide()">{{comment.firstName}}&nbsp;{{comment.lastName}}</a> <small></small></span>
                            <p class="comment-text">{{comment.comment}}</p>

                          </div>
                          <div class="col-lg-1" style="padding-right:0 ;" *ngIf="post.userName===logged_in_username">
                            <i  class="fa fa-trash fa-fw fa-lg m-r-3 text-secondary" (click)="onDeleteCommentClicked(commentindex)"></i>


                          </div>
                          

                        </div>
                        <div class="row mb-3">
                          <div class="col-lg-6">{{comment.commentDate |dateAsAgo}}</div>
                          <div class="col-lg-6 text-right">
                            <a  class="m-r-15 text-inverse-lighter"  style="text-decoration: none;">{{comment.likes}}<i *ngIf="commentliked[commentindex]" class="fa fa-heart fa-fw fa-lg m-r-3" (click)="onCommentDissLiked(commentindex,post.comments,comment.commentId)"></i><i  *ngIf="!commentliked[commentindex]" class=" fa fa-fw fa-lg material-icons" (click)="onCommentLiked(commentindex,post.comments,comment.commentId)">favorite_border</i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </ng-template>
                
                
                
                <a  class="m-r-15 text-inverse-lighter"  style="text-decoration: none;">{{post.vote}}<i *ngIf="liked[post.id]" class="fa fa-heart fa-fw fa-lg m-r-3" (click)="onDissLiked(post.id)"></i><i  *ngIf="!liked[post.id]" class=" fa fa-fw fa-lg material-icons" (click)="onLiked(post.id)">favorite_border</i></a>
              </div>

              <div class="timeline-comment-box">
                <div class="input">
                  <form action="">
                    <div class="input-group">
                      <div class="custom-search">
                        <form (ngSubmit)="onSubmit(post.id,f)" #f="ngForm">
                          <input type="text" ngModel name="comment" class="custom-search-input" placeholder="">
                          <button class="custom-search-botton" type="submit">ارسال نظر</button>  
                        </form>
                      </div> 
                    </div>
                  </form>
                </div>
                
                 
                   <!-- <div class="row " *ngFor="let comment of post_comments" >
                     <div class="comment" >
    
                       <span class="userimage"><img src={{comment.userProfile}} class="rounded-circle"  alt=""></span>
                       <span class="username" ><a [routerLink]="['personalpage',post.userName]">{{comment.firstName}}&nbsp;{{comment.lastName}}</a> <small></small></span>
                     </div>
                   </div> --> 
              
            
            </div>
          </div>
            <!-- end timeline-body -->
          </li>
        </ul>
      </ng-template>
         
    <!-- end timeline -->
    </div>
    <!-- end #profile-post tab -->
  </div>
   <!-- end tab-content -->
</div>






 

