/* You can add global styles to this file, and also import other style files */
/* root */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  overflow-x: hidden;
  background:var(--background-color);
  font-family: Yekan,IranianSans,Bnazanin;


}



:root{
  --primary-color: #1bc5bd;
  --transparent-color: rgba(27, 197, 189, 0.5);
  --secondary-color: rgb(242, 239, 239);
  --background-color:#f3f6f9;
  --body-color:white;
  --hover-color:#0f6763;
  --apple-color:rgba(245, 245, 247, 1);
  --login-color:#14918B;

}

@font-face {
  font-family: 'BNazanin';
  src: url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/BNazanin.eot') format('eot'),  /* IE6–8 */
       url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/BNazanin.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'IranianSans';
  src: url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/IranianSans.eot?#') format('eot'),  /* IE6–8 */
       url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/IranianSans.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/IranianSans.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Yekan';
  src: url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/Yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/Yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../src/assets/bootstrap-4.5.2-dist-rtl/fonts/Yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
