

<div class="profile-content">
    

        <div class="sorts-box dropdown " >
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="width: 100%;">
              مرتب سازی بر اساس
            </button>
            <div class="dropdown-menu" style="width: 100%;">
              <a class="dropdown-item border-bottom" (click)="newest('newest')">جدیدترین</a>
              <a class="dropdown-item border-bottom" (click)="newest('oldest')">قدیمی ترین</a>
              <a class="dropdown-item border-bottom" (click)="newest('mostliked')">بیشترین امتیاز</a>
              <a class="dropdown-item"(click)="newest('leastliked')">کمترین امتیاز</a>
            </div>
          </div>
    

</div>